#root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'header cart' 'items items';
}

.item-header {
  grid-area: items;
}

.items {
  grid-area: items;
}

.cart {
  grid-area: cart;
}
